.register__container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register__form {
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-radius: 5px;
  padding: 20px;
}

.register__input {
  border: 2px solid #000;
  color: #333;
  padding: 10px 8px;
  border-radius: 3px;
  font-size: 13px;
  margin-bottom: 0px;
  width: 260px;
}

.register__input:focus {
  outline: none;
}

.register__btn {
  cursor: pointer;
  padding: 10px 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fafafa;
  background-color: rgb(0, 0, 0);
}

.register__errorMsg {
  margin-bottom: 20px;
  color: red;
}
